/*top*/
@media (min-width: 600px) {

}
.nopadding{
    padding-left: 0px !important;
    padding-right:0px !important;
}

/*
  ========================================
  Primary footer
  ========================================
*/

.primary-footer {
  background: black;
  color: #648880;
  margin: auto;
  width: 600px;
  font-size: 14px;
  /*padding-bottom: 44px;*/
  padding-top: 20px;
}

.primary-footer small {
  float: left;
  font-weight: 400;
}

.ui-tabs .ui-tabs-nav
{
background: green;
color: green;
}

.ui-tabs .ui-tabs-panel /* just in case you want to change the panel */
{
background: blue  ;
}
.style-tabs li{
  color:  green;
  padding-right: 80px;
}

.venue-hotel {
  margin-bottom: 22px;
}
.venue-map {
  height: 264px;
}
