/*Carousel*/
.carousel-inner > .item > img{
       /*width:640px;*/
       width: 100%;
       /*height:360px;*/
       height: 100%;
     }

.navbar-header a  {
  font-size: 30px;
  font-style: verdana;
}
